<!DOCTYPE HTML >
<html lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="initial-scale=1, width=device-width"/> 
<title>백석대학교 수강안내팝업</title>
<style>
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0; 
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
.contents{ width:800px;height:600px;font-size:12px;line-height:130%;}
.header_pop{height:50px;background-color:#1b80f1;font-size:16px;line-height:50px;color:#fff;padding-left:10px;}
.content_pop{width:800px;}
.contnet_left{float:left;width:400px;height:510px;overflow-y:auto;}
.contnet_left P{margin:5px 10px;}
.contnet_right{float:left;width:400px;height:510px;overflow-y:auto;}
.contnet_right P{margin:5px 10px;margin-bottom:15px;}
.footer_pop{clear: both;height:30px;background-color:#fff;font-size:16px;line-height:25px; text-align:center;margin:10px 0px;border: 1px solid #ededed;}

.bb{font-size:16px;font-weight:bold;}
.red{color:#952D2E;}
.blue{color:#3D5486;}
/* Blue Button 확인 */
.BuleButton { background-color:#1b80f1; display:inline-block;cursor:pointer;color:#ffffff;	font-family: NanumGothic,'NanumGothicWeb', dotum, Sans-Serif;font-size:13px; padding:3px 20px;text-decoration:none; }
.BuleButton:hover { background-color:#1174e2; }
.BuleButton:active { background-color:#0665cf; }

</style>
</head>

<body>
	<div class="contents">
		<div class="header_pop">안내문구팝업</div>
		<div class="content_pop">
			<div class="contnet_left">
				<p class="red">◈2024-1학기 수강신청기간◈</p>
				<br />
				<p class="blue">1, 2학년 : 1~4학기 재학생</p>
				<p class="red">2024. 2. 7(월) 09:30 ~ 20:00</p>
				<br />
				<p class="blue">3, 4학년 : 5학기 이상 재학생</p>
				<p class="red">2024. 2. 8(화) 09:30 ~ 20:00</p>
				<br />
				<p class="blue">전학년</p>
				<p class="red">2024. 2. 9(수) 09:30 ~ 2.11(금) 20:00</p>
				<br />
				<p class="red">------------------------------------------------</p>
				<p class="blue">신, 편입생 수강 신청 기간 :</p>
				<p class="red">2024. 2. 23(목) 09:30 ~ 24:00</p>
				<p class="red">------------------------------------------------</p>
				<p class="blue">수강 정정 기간1</p>
				<p class="red">2024. 2. 21(월) 09:30 ~ 2.23(일) 20:00</p>
				<br />
				<p class="blue">수강 정정 기간2</p>
				<p class="red">2024. 2. 25(화) 16:00 ~ 3.1(수) 20:00</p>
				<p class="blue">개설교과 목록은 포탈로그인 -> 종합정보 -> 수업 -> 개설교과 수업계획서 조회에서 확인하실 수 있습니다.</p>

			</div>
			<div class="contnet_right">
				<p class="red">◈공지사항◈</p>
				<p class="red bb">수강신청 30분전에 로그인이 가능합니다. 수강신청 시 유의해주시길 바랍니다. </p>  
				<p class="blue">※수강신청화면은 한개의 화면으로만 실행이 제한되었습니다.<br />
				(한사람당 여러개의 화면을 띄워서 사용할 경우 과도한 트래픽 발생으로 인하여 다른학생들에게 피해가 갈 수 있는 점을 방지하기 위함)</p>
				<p>수강신청 관련 변경 사항</p>
                <p>◈장바구니 유의사항◈</p>
                <p>-장바구니 목록에 저장된 과목은 실제 수강신청이 된 과목이 아닌 장바구니에 담긴 것이므로 실제 수강신청 기간에 수강신청해야 합니다.<br>
                -장바구니 목록에 저장 되었더라도 실제 수강신청에서는 수강신청이 불가능 할 수도 있습니다.<br>
            -장바구니 목록에 저장되는 과목 수는 19학점으로 제한됩니다.<br>
        -접속자가 많은 경우(서버 인원 초과 상황) 대기순서 발급하고 순차적으로 서비스를 제공합니다. </p>
				<p>재수강</p>
				<p>-2020학년도 입학생 : 매 학기 3과목 6학점까지<br /> 
				(F재수강은 제한없음)</p>
				<p>- 2021학년도 입학생 : 과목당 4회를 초과할 수 없음<br />
				(단 졸업을 위해 필수로 이수하여야 하는 경우에는 학부에 문의하여 재수강 횟수를 초과하여 다시 수강할 수 있음)</p>
				<p class="red">◈사용자아이디</p>
				<p>※ 학부생 : 학번</p>
				<p>※ 신,편입생 : 학번(아이디/비밀번호찾기를 이용하여 학번검색가능)</p>
				<p class="red">(백석대학교에 다시 입학하시는 학생은 반드시 학번으로 로그인해야 합니다.)</p>
				<p class="red">◈비밀번호</p>
				<p class="red">※패스워드를 수시로 변경하여 보안에 만전을 기하여 주십시오.</p>
				<p>※사용자 id나 password를 분실하였을 경우에는 로그인 밑에 있는 '아이디/비밀번호찾기'를 이용해 주십시오.</p>
				<p>※수강신청 관련문의는 소속학부 사무실로 연락하여 주십시오.</p>
				<p class="red"><비밀번호 노출로 인한 피해사례></p>
				<p class="blue">1.친구에게 아이디,비밀번호를 가르쳐 주고 수강신청을 부탁한 경우</p>
				<p>	-친구 수강신청 과목(인원제한 과목을) 삭제하고 본인이 수강신청을 한 경우</p>
				<p class="blue">	2.신입생에게 부여되는 최초 비밀번호가 노출된 경우</p>
				<p>		-비밀번호를 주기적으로 변경하지 않아 해외 연수시 알게된 정보를 이용하여 수강신청 과목을 삭제한 경우</p>
				<p class="blue">		3.공용으로 사용하는 자유열람실, PC방, 검색대에서 사용하는 경우</p>
				<p>			-불특정다수가 사용하는 PC에서 사용자와 암호를 저장할 경우,</p>
				<p>다음 사용자가 쉽게 리스트만 확인하여 자동 로그인하여 수강신청 과목을 변경한 경우</p>
				<p>수강신청 후 반드시 로그아웃 하시기 바랍니다.</p>
				<p class="blue"><a href="https://www.bu.ac.kr/sites/web/intro/laws.html" target="_blank">해킹관련 법규 및 처벌사례</a></p>
				<p>◈본 프로그램은 크롬에 최적화 되었습니다.</p>
			</div>
		</div>
		<div class="footer_pop">
			<button class="BuleButton" onclick="self.close();">화면닫기</button>
		</div>
	</div>
</body>
</html> 